<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h4>Inscrições</h4>
        <h1>{{ inscricoes.length }}</h1>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h4>Pagamentos</h4>
        <h1>{{ countPagamentos() }}</h1>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h4>Trabalhadores</h4>
        <h1>{{countTrabalhadores()}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 30px; text-align: right;">
  <div class="col-12">
    <a class="btn btn-outline-default" routerLink="/inscricao">Nova Inscrição</a>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-12">
    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Tipo</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of inscricoes">
          <td>{{ i.id }}</td>
          <td>{{ i.pessoa.nome }}</td>
          <td><a href="mailto:{{ i.pessoa.email }}">{{ i.pessoa.email }}</a></td>
          <td>
            <span *ngIf="i.trabalhador" class="badge badge-pill badge-secondary">Trabalhador</span>
            <span *ngIf="!i.trabalhador" class="badge badge-pill badge-primary">Participante</span>
          </td>
          <td>{{ i.pessoa.dataNascimento | date : "dd/MM/yyyy" }}</td>
          <td>
            <a class="btn btn-sm btn-primary" routerLink="/inscricao/{{i.id}}/view">Visualizar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>