<div class="row" style="margin-bottom: 30px;">
  <div class="col-12 col-md-12">
    <h2>Aprovação de Inscrição</h2>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <h3>{{ inscricao.pessoa.nome }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Sexo: </strong>{{ inscricao.pessoa.sexo }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Data de Nascimento: </strong>{{ inscricao.pessoa.dataNascimento | date: 'dd/MM/yyyy' }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Telefone: </strong>{{ inscricao.telefone }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Email: </strong>{{ inscricao.pessoa.email }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Como chamar: </strong>{{ inscricao.pessoa.comoChamar }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Tipo de Inscrição: </strong>
    <span *ngIf="inscricao.trabalhador" class="badge badge-pill badge-secondary">Trabalhador</span>
    <span *ngIf="!inscricao.trabalhador" class="badge badge-pill badge-primary">Participante</span>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Pagamento: </strong>
    <span class="badge {{classeSpanStatus(inscricao.pagamento.status)}}">{{textoSpanStatus(inscricao.pagamento.status)}}</span>
  </div>
</div>

<div class="row">
    <div class="col-12 col-md-12">
      <strong>Oficina: </strong>{{ inscricao.oficina.nome }}
    </div>
  </div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Restrição de Saúde: </strong>{{ inscricao.pessoa.restricaoSaude }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Tipo Sanguíneo: </strong>{{ inscricao.pessoa.tipoSanguineo }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <strong>Restrição Alimentar: </strong>{{ inscricao.pessoa.restricaoAlimentar }}
  </div>
</div>

<div class="row" style="margin-top: 30px;" *ngIf="!inscricao.trabalhador">
  <div class="col-12 col-md-12">
    <h4>Coordenador</h4>
    <strong>Nome: </strong>{{ inscricao.nomeCoordenador }}<br />
    <strong>Email: </strong>{{ inscricao.emailCoordenador }}
  </div>
</div>


<div class="row" style="margin-top: 30px;" *ngIf="!inscricao.valida">
  <div class="col-12 col-md-3">
    <button class="btn btn-success" (click)="aprovarInscricao()">Aprovar Inscrição</button>
  </div>
</div>

<div class="row" style="margin-top: 30px;" *ngIf="inscricao.valida">
  <div class="col-12 col-md-3">
    <h3 class="text-success">Inscrição Validada</h3>
  </div>
</div>

<swal
  #successAlert
  title="Tudo Ok!"
  text="Inscrição aprovada com sucesso"
  type="success"
  (confirm)="swalClose()">
</swal>

<swal
  #errorAlert
  title="Erro!"
  text="Algo deu errado. Não foi dessa vez :/"
  type="error">
</swal>